.titulo{

    color : wwrite;
    font-size: 30px;
    text-align : center;
    letter-spacing : 5px; 
    word-spacing : 5px; 
    background:rgb(223, 218, 218);
    padding: 20px;
    }
.parrafo{
margin-left: 50px;
margin-right: 50px;
color : wwrite;
font-size: 18px;
text-align : center;
letter-spacing : 2px; 
word-spacing : 5px; 
padding: 30px;
}
.parrafo1
 {

color : wwrite;
text-align : center;
letter-spacing : 2px; 
word-spacing : 5px; 
padding: 20px;
}

.contenedorPresentacion
{
	height:40px;
	margin-bottom: 10px;
}
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background:rgb(223, 218, 218);
  }