*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color:rgb(30, 58, 138);
}

.logo{
    font-size: 30px;
    font-weight:bold;
    color:rgb(249, 250, 251);
    cursor: pointer;
}

.nav-uno{
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.home,
.user,
.prj,
.ins,
.advan
.registro,
.login {
    color:rgb(249, 250, 251);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 10px;
    cursor:pointer;
}
.registro {
    color:rgb(249, 250, 251);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 10px;
    cursor:pointer;
}
.advan
 {
    color:rgb(249, 250, 251);
    font-size: 20px;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 10px;
    cursor:pointer;
 }
.home:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}

.user:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}

.prj:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}

.ins:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}

.advan:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}
.registro:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}
.login:hover {
    color:rgb(208, 131, 211);
    font-size:22px
}

.butt-menu{
    display:none;
}

@media screen and (max-width:780px){
    .logo{
        display: flex;
        position:absolute;  
    }

    .nav-uno{
        display: none;
    }

    .nav-menu{
        display:block;
        position:absolute;
        background-color:rgb(30, 58, 138);
        left:0;
        top: 75px;
        transition: all 0.5s ease-out;
        width: 100%;
    }


    .home,
    .user,
    .prj,
    .ins,
    .advan,
    .registro,
    .login {
        color:rgb(249, 250, 251);
        text-align:center;
        padding:32px;
        width: 100%;
        transition: all 0.5s ease;
    }

    .butt-menu{
        display:block;
        position: absolute;
        font-size:30px;
        background-color:rgb(30, 58, 138);
        color: rgb(249, 250, 251);
        border:none;
        outline: none;
        top: 15px;
        right: 25px;
    }
}